@use '../../styles/vars';

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.welcome__img {
    width:60vw;
    height: auto;
}

.welcome__title {
    padding: 0.4rem;
    font-size: 1rem;
    background: vars.$background-color;
}

.welcome__description {
    margin-top: 1rem;
    margin-bottom: 1rem;
}