@use "../../styles/vars";

.navbar {
  display: flex;
  align-items: center;
  background-color: vars.$background-color;
}

.navbar__title {
  display: flex;
  margin-left: auto;
}

.navbar__item {
  margin: 1rem;
}

.navbar__item-link {
  color: vars.$primary-color;
}

.navbar__img {
  width: 5vw;
  height: 10vh;
  margin: 0.8rem;
  background-color: vars.$background-color;
}

/* ------------------------------------------------------ */
/* Responsive CSS */
/* ------------------------------------------------------ */

@media screen and (max-width: 520px) {
  .navbar__link {
    padding: 0.5rem;
    text-align: center;
  }
  .navbar__img {
    width: 25vw;
    height: 10vh;
    margin: 0.6rem;
    background-color: vars.$background-color;
  }
}
