@use '../../styles/vars';
.navbar {
    display: flex;
    align-items: center;
    background-color: vars.$background-color;
}

.navbar__title {
    display: flex;
    margin-left: auto;

}

.navbar__link {
    margin: 15px;
    text-decoration: none;
    color: vars.$primary-color;
}

a {
    text-decoration: none;
    color: black;
}

.navbar__img {
    width: 80px;
    height: 80px;
    margin: 10px;
    background-color: vars.$background-color;
}

@media screen and (max-width: 520px) {
    .navbar__link {
       padding: 5px ;
       text-align: center;
    }
}
