@use '../../styles/vars';



.highlight {
    height: 120px;
}

.highlight__card {
    height: 100px;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
    padding: 10px;
}