@use "../../../styles/vars";

/* ------------------------------------------------------ */
/* Responsive CSS */
/* ------------------------------------------------------ */

/* Mobile responsive (320px-425px) */
/* If width < or = 425 pixels */
@media only screen and (max-width: 425px) {
    
}

/* Tablet responsive (425px-1024px) */
/* If width > or = 425 pixels */
@media only screen and (min-width: 425px) {
    
}

/* Desktop responsive (1024px-1440px) */
/* If width > or = 1024 pixels */
@media only screen and (min-width: 1024px) {
    
}

/* ------------------------------------------------------ */
/* Commun CSS */
/* ------------------------------------------------------ */
.calendar {
    display: block;
    width: 100%;
    overflow-x: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.availability-table {
    border-collapse: collapse;
    width: 100vw;
    font-size: 0.7rem;
}

.availability-table th {
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    text-align: center;
    padding: 0.2rem;
}

.availability-table td {
    border: 1px solid #ccc;
    text-align: center;
    padding: 0.6rem;
}



.availability-table .available {
    background-color: #52ac55;
}

.availability-table .shortly {
    background-color: #f0863f;
}

.availability-table .unavailable {
    background-color: #ee5252;
}