@use "../../styles/vars";

/* ------------------------------------------------------ */
/* Responsive CSS */
/* ------------------------------------------------------ */

@media only screen and (max-width: 425px) {

  .highlight__div-vegetables {
    margin-bottom: 2rem;
  }
  .highlight__title-vegetables {
    padding-top: 1.5rem;
    text-align: center;
    margin-bottom: 0.8rem;
  }

  .highlight__vegetables {
    height: 8vh;
  }
  .highlight__card-vegetables {
    height: 8vh;
    justify-content: center;
    margin: auto;
    align-content: center;
    border-radius: 50%;
  }
}

/* ------------------------------------------------------ */
/* Normal CSS */
/* ------------------------------------------------------ */
@media only screen and (min-width: 425px) {

  .highlight__div-vegetables {
    margin-bottom: 0.7rem;
  }

  .highlight__title-vegetables {
    padding-top: 2rem;
    text-align: center;
  }

  .highlight__card-vegetables {
    margin: auto;
    padding: 0.6rem;
    height: 10vh;
    border-radius: 50%;
  }
}
